.btn{
    background: white;
    padding: 10px;
    font-weight: 700;
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    @include respond-to("md"){
        display: inline-block;
        padding: 10px 30px;
        position: absolute;
        bottom:15px;
        right: 15px;
    }


    &-white{    
        border:2px solid lighten($color-blue,10%);
        color:$color-blue;
    }
    &-yellow{
        border:2px solid lighten($color-yellow,10%);
        color:black;
    }
}//btn