#cards {
	width: 100%;
    margin-bottom: 50px;
    @include respond-to("md") {
        display: flex;
    }

}

.card {
	box-sizing: border-box;
	float: left;
	padding: 10px;
	width: 100%;
    border: 10px solid transparent;
    position: relative;
   
    &:after,
    &:before{
        @extend %clear;
    }
    @include respond-to("md") {
        width: 33%;
        display: flex;
        flex-wrap: wrap;
        margin: 0 25px;
		min-height: 550px;
		align-content: flex-start;
        &:first-of-type,
        &:last-of-type {
            margin-left: 0;
            margin-right: 0;
        }
    }//md

	h2 {
		font-size: 16px;
		line-height: 22px;
		font-weight: bold;
		text-transform: uppercase;
		margin-bottom: 15px;
		@include respond-to("md") {
			font-size: 18px;
			line-height: 24px;
		}
	}
	p {
		line-height: 28px;
		margin-bottom: 10px;
	}
	img {
		width: 100%;
		max-width: 100%;
		margin-bottom: 15px;
	}
	ul {
		li {
			a {
				color: black;
				display: block;
				margin-bottom: 20px;
			}
		} //li
	} //ul
	.cta {
        align-self: flex-end;
        flex-flow: nowrap;
        flex: 1;
        text-align: right;
        
	}

	&.bg-blue {
		color: white;
		border-color: lighten($color-blue, 10%);
		a:not(.btn) {
			color: white;
		}
	}
	&.bg-yellow {
		border-color: lighten($color-yellow, 10%);
	}
} //card
