body{
    font-family: $font;
    font-size:16px;
}

.container{ 
    margin: 35px auto;
    @include respond-to("md"){
        padding: 0 15px;
        margin: 85px auto;
        max-width: 984px;
    }
}

.bg{
    &-blue{
        background:$color-blue;
    }
    &-yellow{
        background: $color-yellow;
    }
}//bg

