$browser-context: 16; // Default
//funtions to transform pixels to em
@function em($pixels, $context: $browser-context) {
    @return #{$pixels / $context}em;
}

//helpers margins/paddings
@each $nameType, $type in ("m": margin, "p": padding) {
    @each $namePos, $position in ("t": top, "r": right, "b": bottom, "l": left) {
        $number: 0px;

        @each $name in "none", "xs", "sm", "md", "lg", "xl", "xxl", "xxxl" {
            @if $name == "none" {
                .n-#{$nameType}-#{$namePos} {
                    #{$type}-#{$position}: 0px !important;
                }
            }
            @else {
                .#{$nameType}-#{$namePos}-#{$name} {
                    #{$type}-#{$position}: $number !important;
                } //bg-acc
                .section-#{$name} {
                    padding: $number 0;
                }
            }

            $number: $number + 10;
        } //each
    } //each
}
.n-m-t{
    margin-top: 0 !important;
}

