#logos{
    padding: 0 10px;
    &:after,
    &:before{
        @extend %clear;
    }
    h3{
        text-align: center;
        padding-top: 20px;
        @include respond-to("md"){
            text-align: left;
            padding-top: 0;
        }
        a{
            color:black;
        }
    }
    ul{
        margin-top: 40px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        
        @include respond-to("md"){
            display: flex;
            justify-content: space-between;    
            text-align: left;
            align-items: baseline;
        }
        li{
            float: left;
            width: 49%;
            margin-bottom: 30px;
            text-align: center;
            &:last-child{
                width: 100%;
            }
            @include respond-to("md"){
                width: auto;
                text-align: left;
                &:last-child{
                    width: auto;
                    text-align: left;
                }
            }
            a{
                img{
                    margin: 0 auto;
                    max-width: 100%;
                    @include respond-to("md"){
                        
                    }
                }
            }//a
        }//li
    }//ul
}//logo