$breakpoints: ( 'xxs': (max-width: 320px), 'sm': (min-width: 768px), 'sm-down': (max-width: 767px), 'md': (min-width: 992px), 'lg': (min-width: 1200px));
@mixin respond-to($breakpoint) {
    $raw-query: map-get($breakpoints, $breakpoint);
    @if $raw-query {
        $query: if( type-of($raw-query)=='string', unquote($raw-query), inspect($raw-query));
        @media #{$query} {
            @content;
        }
    }
    @else {
        @error 'No value found for `#{$breakpoint}`. '+'Please make sure it is defined in `$breakpoints` map.';
    }
}